h2 , .letter_typographie , .font_style , .ingredient-container  {
padding-left: 5%;
padding-right: 5%;
} 
.recipe-card img {
  height: 25%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}  

#recipesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #EDEDED;
  justify-content: space-around;
  padding-top: 20%;
  margin-top: -16%;
  margin-left: -1%;
  width: 101.6%;
}

.alternative_disposition_ingredient {
  padding-bottom: 102%;
}


.ingredient-quantity {
color: #7A7A7A;
}

.recipe-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin-bottom: 20px; 
}


.recipe-card {
  border: 1px solid #ddd;
  width: 28%;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 20px;
  height: 600px;
}

.Header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1%;
  margin-top: -1%;
  margin-bottom: 3%;
  width: 101.6%;
}
.Header_container img {
  width: 100%;
}

.ingredient-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 149.4px;
  justify-content: space-between;
}

ul {
  list-style-type: none; /* Supprime les marqueurs par défaut */
  padding-left: 0; /* Supprime le décalage à gauche par défaut */
}

.spans-container > span:nth-child(2) {
  position: absolute;
  left: 116%;
}

.spans-container > span:nth-child(3) {
  position: absolute;
  left: 186%;
}
.title_recipe  {
  position: absolute;
  color:  #FFD15B;
  width: 55%;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  background: white;
  height: 50px;
  display: flex;
  width: 65%;
  left: 18%;
  border-radius: 11px;
  margin-top: 12%;
}

#search-input {
  width: 35%;
  border: none;
  margin-left: 5%;
}

.container_search {
  align-self: center;
  background-color: #1B1B1B;
  color: #FFFFFF;
  border-radius: 6px;
  width: 4%;
  height: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
}

.logo {
  width: auto;
  position: absolute;
  top: 7%;
  left: 2%;
}

#logo {
  width: auto;
}

#ingredients {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  border-radius: 0 0 11px 0;
  left: 5.5%;
  top: 156%;
  height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 3%;
margin-left: 2%;
left: 3.517px;
width: 11%;
}

#ingredients-search , #appareils-search , #ustensils-search {
  margin-top: 8%;
  width: 76%;
  margin-left: 7%;
  }

.ingredient-button , .appareil-button , .ustensil-button { 
  background-color: white;
  border-left-width: 0px;
  border-left-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  border-right-width: 0px;
  border-right-style: solid;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 80%;
}

#ingredient-search {
  width: 88%;
}

.letter_typographie {
  color: #7A7A7A;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  letter-spacing: 0.09em
}

.font_style {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  max-height: 75px;
  overflow: hidden;
}

.button_filter , .size_filter {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 10%;
  position: relative;
  background-color: white;
  border: none;
  border-radius: 11px;
  height: 45px;
}

.button_filter {
  padding-left: 1%;
}

.container_filter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-left: -6.9%;
}
.number_recipes {
  position: absolute;
  margin-left: 116%;
  width: 8%;
  font-family: 'Anton', sans-serif;
}

.price {
  background-color: #FFD15B;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 14px;
  position: absolute;
  width: 6%;
  height: 7%;
  margin-left: 20%;
  margin-top: -8%;
}

.container_filter_recipe  {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: -10%;
}

.spans-container {
  width: 43%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
}
.spans-container  span{
  background: #FFD15B;
  border-radius: 10px;
  width: 16%;
  text-align: center;
  height: 35px;
  align-items: center;
  display:flex;
  justify-content: space-around;
  position: relative;
  height: 45px;
  margin-top: 11%;
  margin-left: -20%;
  width: 27%;
}
h2 { 
  font-family: 'Anton', sans-serif;
  font-size: 18px;
}
.appareils-list { 
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  border-radius: 0 0 11px 0;
  left: 5.5%;
  height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 3%;
  width: 11%;
  left: 30%;
  top: 696.2px;
  margin-left: 2.1%;
}

.appareil-button , .ustensil-button
.fa-chevron-up { 
padding-right: 6%;
}
.ustensils-list  { 
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  border-radius: 0 0 11px 0;
  left: 5.5%;
  height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 3%;
  margin-left: 2%;
  width: 11%;
  left: 60%;
  top: 696.2px;
}
.ingredient_list  { 
  padding-top: 1%;
  left: 3.3%;
}
.size_filter { 
  width: 100%;
}